@import "tailwindcss";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@keyframes floatTube {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    20% {
        transform: translate(2px, -6px) rotate(0.7deg);
    }
    40% {
        transform: translate(-3px, -10px) rotate(-0.5deg);
    }
    60% {
        transform: translate(3px, -8px) rotate(1deg);
    }
    80% {
        transform: translate(-1px, -4px) rotate(-0.3deg);
    }
    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Pretendard", sans-serif;
    background-color: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
button {
    cursor: pointer;
}
/* 일정한 속도로 부드럽게 스크롤되도록 설정 */
.swiper-wrapper {
    transition-timing-function: linear !important;
}

/*blog-post*/
@layer base {
    h1 {
        @apply text-[32px] font-bold text-[#1B1B1B] my-5;
    }
    p {
        @apply mb-2;
    }
    blockquote {
        @apply border-l-[3px] border-gray-300 pl-4;
    }
    hr {
        @apply border-0 border-t border-gray-200 cursor-pointer my-8;
    }
}

.ProseMirror p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #adb5bd;
    pointer-events: none;
    height: 0;
}
/*home 프로젝트 부분 가로 스크롤 숨기기 설정 */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none; /* Firefox */
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    /* customized color style */

    --color-gray-900: #1b1b1b;
    --color-gray-800: #232323;
    --color-gray-700: #2d2d2d;
    --color-gray-600: #3a3a3a;
    --color-gray-500: #404040;
    --color-gray-400: #666666;
    --color-gray-300: #7f7f7f;
    --color-gray-200: #a7a7a7;
    --color-gray-100: #c4c4c4;
    --color-gray-50: #ececec;
    --color-gray-25: #f5f5f5;
    --color-gray-0: #ffffff;

    --color-primary-500: #ff7700;
    --color-primary-300: #ffa454;

    --color-error: #ea3838;
    --color-icon: #464a4d;
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

/* customized text style */
/* 기본 line height는 100%로 설정 */

@layer utilities {
    /* font-weight bold */
    .bold-20 {
        font-size: 20px;
        line-height: 100%;
        font-weight: 700;
    }
    .bold-16 {
        font-size: 16px;
        line-height: 100%;
        font-weight: 700;
    }
    .semibold-14 {
        font-size: 14px;
        line-height: 100%;
        font-weight: 600;
    }
    .semibold-12 {
        font-size: 12px;
        line-height: 100%;
        font-weight: 600;
    }
    .medium-28 {
        font-size: 28px;
        line-height: 100%;
        font-weight: 500;
    }
    .medium-14 {
        font-size: 14px;
        line-height: 100%;
        font-weight: 500;
    }
    .regular-20 {
        font-size: 20px;
        line-height: 150%;
        font-weight: 400;
    }
    .regular-16 {
        font-size: 16px;
        line-height: 100%;
        font-weight: 400;
    }
    .regular-14 {
        font-size: 14px;
        line-height: 100%;
        font-weight: 400;
    }
    .regular-12 {
        font-size: 12px;
        line-height: 100%;
        font-weight: 400;
    }
    .body3-medium {
        font-size: 14px;
        line-height: 150%;
        font-weight: 500;
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
